<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <!-- Add jQuery before the Paychangu script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://in.paychangu.com/js/popup.js"></script>
</head>
<body>
    <form>
        <div id="wrapper"></div>
        <button type="button" onClick="makePayment()">Pay Now</button>
    </form>

    <script>
        function makePayment() {
            PaychanguCheckout({
                "public_key": "pub-live-zcHvb1mKxXofzmYBvjnobwvlYgUBqYWn",
                "tx_ref": '' + Math.floor((Math.random() * 1000000000) + 1),
                "amount": 1000,
                "currency": "MWK", 
                "callback_url": "https://example.com/callbackurl",
                "return_url": "https://example.com/returnurl",
                "customer": {
                    "email": "yourmail@example.com",
                    "first_name": "Mac",
                    "last_name": "Phiri"
                },
                "customization": {
                    "title": "Test Payment",
                    "description": "Payment Description"
                },
                "meta": {
                    "uuid": "uuid",
                    "response": "Response"
                }
            });
        }
    </script>
</body>
</html>
